<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

<title>MWS Admin - Table</title>

</head>

<body>


	<!-- Header -->
    <block name="include"><include file="Common/header" /></block>


    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- left -->
            <block name="include"><include file="Common/left_nav" /></block>
            
        </div>
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            
            	
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span><i class="icon-table"></i>基本信息</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <form class="mws-form" action="form_layouts.html">
                            <div class="mws-form-inline">
                                <div class="mws-form-row">
                                    <label class="mws-form-label">信息编号</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list.messageId}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">发送人</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled name="adminUser" value="{$adminUser['uname']}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">接收人</label>
                                    <div class="mws-form-item">
                                        <if condition="$list eq -1">
                                            <input type="text" class="small" disabled value="所有人" />
                                        <else />
                                            <input type="text" class="small" disabled value="{$list['uname']}" />
                                        </if>
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">信息标题</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list['title']}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">信息内容</label>
                                    <div class="mws-form-item">
                                        <textarea rows="" cols="" class="small">{$list['message']}</textarea>
                                    </div>
                                </div>
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">信息查看状态</label>
                                    <div class="mws-form-item clearfix">
                                        <ul class="mws-form-list inline">
                                            <li><input type="radio" name="statue" disabled value="1" {$list['statue'] ==1?'checked':''} /> <label>未读</label></li>
                                            <li><input type="radio" name="statue" disabled value="2" {$list['statue'] ==2?'checked':''} /> <label>已读</label></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <!--
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">接收者删除信息状态</label>
                                    <div class="mws-form-item clearfix">
                                        <ul class="mws-form-list inline">
                                            <li><input type="radio" name="receiverDel" disabled value="1" {$list['receiverDel'] ==1?'checked':''} /> <label>未删</label></li>
                                            <li><input type="radio" name="receiverDel" disabled value="2" {$list['receiverDel'] ==2?'checked':''} /> <label>已删</label></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                -->
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">接收者删除信息状态</label>
                                    <div class="mws-form-item clearfix">
                                        <ul class="mws-form-list inline">
                                            <li><input type="radio" name="statue" disabled value="1" {$list['statue'] ==1?'checked':''} /> <label>未删</label></li>
                                            <li><input type="radio" name="statue" disabled value="2" {$list['statue'] ==2?'checked':''} /> <label>已删</label></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">发送时间</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list['sendTime']|date='Y-m-d',###}" />
                                    </div>
                                </div>

                            </div>
                            <div class="mws-button-row">
                                <a href="{:U('Message/messageAll')}"><input type="button" value="返回" class="btn btn-danger"></a>
                            </div>
                        </form>
                    </div>
                </div>

            	
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Your Website 2012. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
    <script src="__ADMIN__/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
    <script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__ADMIN__/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>

    <!-- Core Script -->
    <script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__ADMIN__/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__ADMIN__/js/demo/demo.table.js"></script>

</body>
</html>
