<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/custom-plugins/wizard/wizard.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

<title>MWS Admin - Form Wizard</title>

</head>

<body>

	<!-- Themer (Remove if not needed) -->  
    <!-- Themer End -->

	<!-- Header -->
	<include file="Common/header" />
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
    <!-- 引入公共导航栏 -->
    <include file="Common/left_nav" />
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            
            	<!-- Statistics Button Container -->
                
                <!-- Panels Start -->
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span><i class="icon-magic"></i>添加管理员</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <form class="mws-form " action="#" onsubmit="return false;" method="post">
                            
                            <fieldset class="wizard-step mws-form-inline">
                            <legend class="wizard-label"><i class="icol-user"></i> Register</legend>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">账户名称<span class="required">*</span></label>
                                    <div class="mws-form-item">
                                        <input type="text" name="uname" class="required large">
                                    </div>
                                    <label style="margin-left:160px" for="uname">字母数字下划线组成6到20位</label>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">帐号密码<span class="required">*</span></label>
                                    <div class="mws-form-item">
                                        <input type="password" name="upwd" class="large">
                                    </div>
                                    <label style="margin-left:160px" for="upwd">字母数字下划线组成6到20位</label>
                                </div>
                                <div id class="mws-form-row">
                                    <label class="mws-form-label">重复密码<span class="required">*</span></label>
                                    <div class="mws-form-item">
                                        <input type="password" name="r_upwd" class="large">
                                    </div>
                                     <label style="margin-left:160px" for="r_upwd">再次输入密码</label>
                                </div>
                                <div id class="mws-form-row">
                                    <label class="mws-form-label">管理员昵称<span class="required">*</span></label>
                                    <div class="mws-form-item">
                                        <input type="text" name="nickName" class="large">
                                    </div>
                                     <label style="margin-left:160px" for="nickName">字母数字下划线组成4到20位</label>
                                </div>
                                <div id class="mws-form-row">
                                    <label class="mws-form-label">角色名称<span class="required">*</span></label>
                                    <div class="mws-form-item">
                                        <select name="levelId"class="required large">
                                            <option  value="4">初级管理员</option>
                                            <option  value="3">中级管理员</option>
                                            <option  value="2">高级管理员</option>            
                                            <option  value="1">超级管理员</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <div style="width:100%;padding-top:20px;padding-bottom:20px;background-color:#D2D2D2">
                                <!-- <button style="margin-left:90%"class="btn btn-success" type="button">提交</button> -->
                                <a style="margin-left:85%;"  href="<?php
                                    echo $_SERVER['HTTP_REFERER'];
                                 ?>"><button type='button' class='btn btn-primary'>退出</button></a>
                                <input type="submit" value="提交" class="btn btn-success">
                                <input style="display:none" type="reset" name="reset">
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Your Website 2012. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>

    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
   
    <!-- Plugin Scripts -->
   <script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="__ADMIN__/plugins/validate/jquery.validate-min.js"></script>
    <!-- Wizard Plugin -->
    <script src="__ADMIN__/custom-plugins/wizard/wizard.min.js"></script>
    <script src="__ADMIN__/custom-plugins/wizard/jquery.form.min.js"></script>

    <!-- Core Script -->
    <script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__ADMIN__/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__ADMIN__/js/demo/demo.wizard.js"></script>

    <!--自定以的js文件-->
    <script src="__ADMINJS__/style_change.js"></script>
    <script src="__ADMINJS__/admin_add.js"></script>


</body>
</html>
