<!DOCTYPE HTML>
<html>
	<head>
		<title>搜索页</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="__HOMECSS__/list.css" />
		<style type="text/css">
		#condition ul li {
			float:left;
			padding:0 4px 0 6px;
		}
		#condition ul li i {
			font-style: normal;
			font-weight: bold;
			padding-left: 4px;
		}
		#condition ul li:hover {
			border:1px solid #666;
		}
		#condition ul li a {
			text-decoration: none;
			display: inline-block;
		}
		</style>
		<script src="__HOMEJS__/jquery-1.8.3.js"></script>
		<script src="__HOMEJS__/list.js"></script>
		<script>
			//定义数据发送地址
			var address = "{:U('Cart/addCart')}";
			var compareListNum=<?php 
									$compareList=cookie("prodIdCookie");
									if(!empty($compareList)){
										echo count($compareList);
									}else{
										echo 0;
									}
								?>;
			var sessionExist=<?php
								if(!empty($_SESSION['user'])){
									echo 1;
								}else{
									echo -1;
								}
							?>;
		</script>
	</head>
	<body>
		<include file="Common/header" />
	<!-------------------面包屑导航start---------------------->
		<div class="w">
			<div class="breadcrumb">
				<strong>
					<a href="#">搜索</a>
				</strong>
				<span>
					&nbsp;>&nbsp;
					<a href="#">{$query}</a>
				</span>
				</strong>
			</div>
		</div>
		<!-------------------面包屑导航end---------------------->
		<!-------------------主体start---------------------->
		<div id="main" class="w">
		<!-------------------左内容start---------------------->
			<div class="left_list">
			<!-------------------左列表start---------------------->
				<div id="sortlist" class="m">
					<div class="mc">
						<foreach name="navCate" item='cate2'>
							<div class='item <?php echo ($catestatus==$cate2['proTypeId'])?'current1':'';?>'>
								<h3><b></b>{$typesArr[$key]}</h3>
								<ul>
									<foreach name="cate2" item='cate3'>
										<li><a href='{:U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'colorId'=>$_GET['colorId'],'sizeId'=>$_GET['sizeId'],'proTypeId'=>$cate3['proTypeId']))}'>{$cate3.proName}</a></li>
									</foreach>
								</ul>
							</div>
						</foreach>
					</div>
				</div>
				<!-------------------左列表end---------------------->
				<!-------------------左抢购start---------------------->
				<div id="limitBuy">
					<div class="m limitbuy">
						<div class="mt">
							<h2>IT数码</h2>
						</div>
						<div class="mc">
							<div id="clock" class="clock1">
								
							</div>
							
							<div>
								<ul>
									<li>
										<div class="p-img">
											<a href="#" target="_blank"><img src="__HOMEIMG__/53edb0a7Ndb057327.jpg" style="width:100px" /></a>
											<div class="pi9"></div>
										</div>
										<div class="p-name"><a target="_blank" href="#">威克（vico） WK-ZT12 18PCS透明礼品组套 工具套装 工业级品质 质量保证</a></div>
										<div class="p-price">抢购价：<strong>89.00</strong>(6.0折)</div>
									</li>
									<li>
										<div class="p-img">
											<a href="#" target="_blank"><img src="__HOMEIMG__/53edb0a7Ndb057327.jpg" style="width:100px" /></a>
											<div class="pi9"></div>
										</div>
										<div class="p-name"><a target="_blank" href="#">威克（vico） WK-ZT12 18PCS透明礼品组套 工具套装 工业级品质 质量保证</a></div>
										<div class="p-price">抢购价：<strong>89.00</strong>(6.0折)</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-------------------左列表end---------------------->
				<!-------------------左商品start---------------------->
				<div class="j_box">
					<div class="j_logo">
						推广商品
					</div>
					<div class=".j_boxcontent">
						<div id="cont" class="j_skulist">
							<ul id="list1" class="clearfix">
								<li>
									<div class="p_img">
										
										<a href="#"><img src="__HOMEIMG__/53c3a1afN98fa183d.jpg" style="width:160px;height:160px;"/></a>
									</div>
									<div class="p_name"><a href="#">【限时抢购】高端GTX860 2G独显 库存有限 抓紧抢购！</a></div>
									<div class="p_price">
										<span style="display:none"></span>
										<span class="tag_title">￥</span>
										<span class="tag_content">7599.00</span>
									</div>
									<div class="p_promo">
										<span>
											<div>
												<span class="tag_title">加价购</span>
												<span>满999加99即赠</span>
											</div>
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-------------------左商品end---------------------->
				<!-------------------周销售start---------------------->	
				<div id="weekRank" class="rank m">
					<div class="mt">
						<h2>一周销量排行</h2>
					</div>
					<div class="mc">
						<ul class="tabcon">
							<li class="fore" style="border-top:none;">
								<span>1</span>
								<div class="p-img">
									<a href="#" target="_blank">
										<img src="__HOMEIMG__/rBEbRVN9qX8IAAAAAAH0zQiEQgsAACQpAO6cfUAAfTl578(3).jpg" alt="笔记本" />
									</a>
								</div>
								<div class="p-name">
									<a href="#" tartget="_blank">联想（Lenovo） Y430p 14.0英寸笔记本电脑（i5-4210M 4G 1T GTX850M 2G独显 DVD刻 摄像头 win8.1）黑色</a>
								</div>
								<div class="p-price">
									<strong>￥5499.00</strong>
								</div>
							</li>

							<li class="fore fore1" >
								<span>2</span>
								<div class="p-img">
									<a href="#" target="_blank">
										<img src="__HOMEIMG__/rBEbRVN9qX8IAAAAAAH0zQiEQgsAACQpAO6cfUAAfTl578(3).jpg" alt="笔记本" />
									</a>
								</div>
								<div class="p-name">
									<a href="#" tartget="_blank">微星（msi） GE60 2OE-455XCN 15.6英寸游戏笔记本 （i7-4700MQ 8G 750G GTX765M 2G 背光键盘）黑色</a>
								</div>
								<div class="p-price">
									<strong>￥5499.00</strong>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<!-------------------周销售end---------------------->	
			</div>
			<!-------------------左内容end---------------------->
			<!-------------------右内容start---------------------->
			<div class="right_list">
				<!-------------------右推荐start---------------------->
				
				<!-------------------右推荐end---------------------->
				<!-------------------右搜索start---------------------->
				<div id="select" class="m">
					<div class="mt">
						<h1><strong><span style="color:red">{$query}</span>商品筛选</strong></h1>
					</div>
					<div class="mc attrs">
						<div id="condition" style="height:24px;line-height:24px;margin-bottom:8px;">
							<div class="attr">
								<div class="a-key">已选条件：</div>
								<div class="a-values">
									<div class="v-fold">
										<ul class="f-list">
										<?php
											if(!empty($_GET["brandId"])){
												echo '<li><a href="'.U("Search/index",array("query"=>$_GET["query"],"colorId"=>$_GET["colorId"],"sizeId"=>$_GET["sizeId"])).'">品牌: <span style="color:red">'.$brandsArr[$_GET["brandId"]].'</span><i>x</i></a></li>';
											}

											if(!empty($_GET["sizeId"])){
												echo '<li><a href="'.U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'colorId'=>$_GET['colorId'])).'">尺寸: <span style="color:red">'.$sizesArr[$_GET['sizeId']].'</span><i>x</i></a></li>';
											}

											if(!empty($_GET["colorId"])){
												echo '<li><a href="'.U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'sizeId'=>$_GET['sizeId'])).'">颜色: <span style="color:red">'.$colorsArr[$_GET['colorId']].'</span><i>x</i></a></li>';
											}
										?>

											<!-- <li><a href="{:U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'colorId'=>$_GET['colorId']))}">尺寸: <span style='color:red'>{$sizesArr[$_GET['sizeId']]}</span><i>x</i></a></li>
											<li><a href="{:U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'sizeId'=>$_GET['sizeId']))}">颜色: <span style='color:red'>{$colorsArr[$_GET['colorId']]}</span><i>x</i></a></li> -->
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="brand-attr spacific">
							<div class="attr">
								<div class="a-key">品牌：</div>
								<div class="a-values">
									<div class="v-fold">
										<ul class="f-list">
											<foreach name="brandsData" item='val'>
											<li style="float:left;margin-right:10px;height:25px;line-height:25px;"><a style="<?php if($_GET['brandId']==$val['brandId']) echo 'color:red;font-weight:bold'?>" href="{:U('Search/index',array('query'=>$_GET['query'],'brandId'=>$val['brandId'],'colorId'=>$_GET['colorId'],'sizeId'=>$_GET['sizeId']))}">{$brandsArr[$val['brandId']]}</a></li>
											</foreach>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="prop-attrs">
							<div class="attr">
								<div class="a-key">价格：</div>
								<div class="a-values">
									<div class="v-fold">
										<ul class="f-list">
											<foreach name='priceCate' item='val'>
											<li><a style='<?php if($_GET['priceName']==$val['priceName']){echo 'color:red';} ?>'href="{:U('List/index',array('cat'=>$_GET['cat'],'sizeId'=>$_GET['sizeId'],'colorId'=>$_GET['colorId'],'brandId'=>$_GET['brandId'],'sort'=>$_GET['sort'],'p'=>1,'priceName'=>$val[priceName]))}">{$val.priceName}</a></li>
											</foreach>
										</ul>
									</div>
								</div>
							</div>
						</div> -->

						<div class="prop-attrs spacific">
							<div class="attr">
								<div class="a-key">尺寸：</div>
								<div class="a-values">
									<div class="v-fold">
										<ul class="f-list">
											<foreach name="sizesData" item='val'>
											<li><a style="<?php if($_GET['sizeId']==$val['sizeId']) echo 'color:red;font-weight:bold'?>" href="{:U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'colorId'=>$_GET['colorId'],'sizeId'=>$val['sizeId']))}">{$sizesArr[$val["sizeId"]]}</a></li>
											</foreach>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="prop-attrs spacific">
							<div class="attr">
								<div class="a-key">颜色：</div>
								<div class="a-values">
									<div class="v-fold">
										<ul class="f-list">
											<foreach name="colorsData" item='val'>
											<li><a style="<?php if($_GET['colorId']==$val['colorId']) echo 'color:red;font-weight:bold'?>" href="{:U('Search/index',array('query'=>$_GET['query'],'brandId'=>$_GET['brandId'],'sizeId'=>$_GET['sizeId'],'colorId'=>$val['colorId']))}">{$colorsArr[$val['colorId']]}</a></li>
											</foreach>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-------------------右搜索end---------------------->
				<div class="clear"></div>
				<!-------------------排序start---------------------->
				<div id="filter">
					
					<div class="fore1">
						<dl class="order">
							<dt>排序：</dt>
							<dd class="<?php echo ($_GET['sort']=='saleNum_desc')?'curr':'';if($_GET['sort']==''){echo 'curr';} ?>" >
								<a href="{:U('Search/index',array('query'=>$_GET['query'],'sizeId'=>$_GET['sizeId'],'colorId'=>$_GET['colorId'],'brandId'=>$_GET['brandId'],'sort'=>'saleNum_desc'))}">销量</a>
							</dd>
							<dd class="<?php echo ($_GET['sort']=='price_asc')?'curr':'';?>" >
								<a href="{:U('Search/index',array('query'=>$_GET['query'],'sizeId'=>$_GET['sizeId'],'colorId'=>$_GET['colorId'],'brandId'=>$_GET['brandId'],'sort'=>'price_asc'))}">价格</a>
							</dd >
							<dd class="<?php echo ($_GET['sort']=='commentNum_desc')?'curr':'';?>" >
								<a href="{:U('Search/index',array('query'=>$_GET['query'],'sizeId'=>$_GET['sizeId'],'colorId'=>$_GET['colorId'],'brandId'=>$_GET['brandId'],'sort'=>'commentNum_desc'))}">评论数</a>
							</dd>
							<dd class="<?php echo ($_GET['sort']=='addtime_desc')?'curr':'';?>" >
								<a href="{:U('Search/index',array('query'=>$_GET['query'],'sizeId'=>$_GET['sizeId'],'colorId'=>$_GET['colorId'],'brandId'=>$_GET['brandId'],'sort'=>'addtime_desc'))}">上架时间</a>
							</dd>
						</dl>
					</div>
					<div class="clear"></div>
				</div>
				<!-------------------排序end---------------------->
				<div class="clear"></div>
				<!-------------------商品展示start---------------------->
				<div id="plist" class="m plist-n7a ordinary-prebuy">
					<ul class="list-h">
						<empty name="prodData">
							<span style="font-size:18px;">
							找对一个人很难，商品如是<br/>
							建议您可以试着去掉一些[已选条件]中的搜索条件<br/>
							----【雷锋】
							</span>
						</empty>
						<foreach name="prodData" item="val">
						<li>
							<div class="1h-wrap">
								<div class="p-img">
									<a target="_blank" href="{:U('Details/details',array('id'=>$val['prodId']))}">
										<img width="220" height="220" src="__PUBLIC__/Uploads/{$val[img]}" />
									</a>
								</div>
								<div  class="p-name">
									<a target="_blank" href="{:U('Details/details',array('id'=>$val['prodId']))}">
										{$val.prodInfo}
									</a>
								</div>
								<div class="p-price">
									<strong>￥{$val.price1}</strong>
								</div>
								<div class="extra">
									<span class="evaluate">
										<a target="_blank" href="{:U('Comments/comments',array('id'=>$val['prodId']))}">
											已有{$val.commentNum}人评价
										</a>
									</span>
								</div>
								<div class="stocklist">
									<span class="st33">北京有货</span>
								</div>
								<div class="btns">
									<a prodId="{$val.prodId}" class="btn-buy scart" href="javascript:;">加入购物车</a>
									<a prodId="f_{$val.prodId}" class="btn-coll" href="javascript:;">关注</a>
									<a  prodId="a_{$val.prodId}" 
										name='{$val.prodId}'
										class="
											btn-compare btn-compare-s
											<?php if(in_array($val['prodId'],$prodIdCookieList)){
												echo 'btn-compare-s-active';
											}
											?>
										">
										<span></span>对比
									</a>
								</div>
							</div>
						</li>
						</foreach>
					</ul>
				</div>
				<!-------------------商品展示end---------------------->
				<!-------------------分页start---------------------->
				<div class="m clearfix">
					<div class="pagin fr">
						{$page}
					</div>
				</div>
				<!-------------------分页end---------------------->
			</div>
			<!-------------------右内容end---------------------->
			<div class="clear"></div>
			<!-------------------最新浏览start---------------------->
			<div id="footmark" class="w footmark">
				<div class="m recent-view">
					<div class="mt">
						<h2 class="title">
							最近浏览
						</h2>
						<div class="extra">
							<a href="#" target="_blank">更多浏览记录</a>
						</div>
					</div>
					<div class="mc">
						<ul class="recent-view-list clearfix">
							<li>
								<div class="p-img">
									<a href="#">
										<img src="__HOMEIMG__/rBEhWVNXGSMIAAAAAAEbHRiuMHUAAMUXgNpb2YAARs1071.jpg" />
									</a>
								</div>
								<div class="p-price">￥109.00</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-------------------最新浏览end---------------------->
		</div>
		<!-------------------主体end---------------------->

		<!--=========对比栏start==========-->
		
		<div id="pop-compare" class="pop-compare" data-load="true" style="overflow:visible;bottom: 0px;<?php if(!empty($prodIdCookieData)){
												echo 'display:block';
											}
									  ?>">
			<div class="pop-wrap" style="left:0px">
				<div class="pop-inner" data-widget="tabs">
					<div class="diff-hd">
						<ul class="tab-btns clearfix">
							<li class="current1" data-widget="tab-item">
								<a href="javascript:;">对比栏</a>
							</li>
						</ul>
						<div class="operate">
							<a class="hide-me" href="javascript:;">隐藏</a>
						</div>
					</div>
					<div class="diff-bd tab-cons">
						<div class="tab-con" data-widget="tab-content" style="display: block;">
							<div id="diff-items" class="diff-items clearfix">
								<foreach name='prodIdCookieData' item='val'>
								<dl id="cmp_item_{$val.prodId}">
									<dt><a href="{:U('Details/details',array('id'=>$val['prodId']))}" target="_blank"><img width="50" height="50" src="__PUBLIC__/Uploads/{$val['simimg']}"></a></dt>
									<dd><a class="diff-item-name" href="{:U('Details/details',array('id'=>$val['prodId']))}" target="_blank">{$val.prodInfo}</a><span class="p-price"><strong class="J-p-1093625">￥{$val.price1}</strong><a class="del-comp-item" style="visibility: hidden;">删除</a></span></dd>
								</dl>
								</foreach>
								<for start='$prodIdCookieNum' end='5'>
								<dl class="item-empty">
									<dt>{$i}</dt>
									<dd>您还可以继续添加</dd>
								</dl>
								</for>
							</div>
							<div class="diff-operate">
								<a id="goto-contrast" class="btn-compare-b" style='cursor:pointer;<?php 
														if($prodIdCookieNum>=3){
															echo 'background-color:#E4393C;
																color:#fff;';
														}
												?>' 
								href="{:U('Compare/compareShow')}" target="_blank">对比</a>
								<a style='cursor:pointer;'class="del-items">清空对比栏</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--=========对比栏end==========-->
		<!--=========加入购物车栏start==========-->
		<div id="success-cart" class="pop-compare" data-load="true" style="overflow:visible;bottom: 0px;">
			<div class="pop-wrap" style="left:0px">
				<div class="pop-inner" data-widget="tabs">
					<div class="diff-hd">
						<ul class="tab-btns clearfix">
							<li class="current1" data-widget="tab-item">
								<a href="javascript:;">购物栏</a>
							</li>
						</ul>
						<div class="operate">
							<a class="hide-me" href="javascript:void()">关闭</a>
						</div>
					</div>
					<div class="diff-bd tab-cons">
						<div class="tab-con" data-widget="tab-content" style="display: block;">
							<div id="diff-cart" class="diff-items clearfix">
								<div class="m" id="succeed">
									<div class="success-b">
										<h3>商品已成功加入购物车</h3>				
									</div>
									<span id="initCart_next_go">
										<a id="GotoShoppingCart" class="btn-pay" href="javascript:location.href='__MODULE__/Cart/index'">去结算</a>
										<a class="btn-continue" href="javascript:void(0)">继续购物</a>
									</span>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file='Common/footer'  />
		<!--=========加入购物车栏start==========-->
		<!--------------------弹层效果---------------------->
		<div class='thickdiv' style="display:none"></div>
		<div class='thickbox' style='display:none'>
			<div class="boxtitle">
				<b>您尚未登录</b>
				<a href='#'>×</a>
			</div>
			<div class='thickcon'>
				<ul>
					<li style="border-bottom:none;background:#fff;height:26px;"><b>登 录</b></li>
					<li style="background:#F7F7F7;margin-bottom:1px"><a href='{:U('Register/register')}'>注册</a></li>
				</ul>
				<form action="#" method="post" onsubmit="return false;">
				<div class="item fore1" style="	margin-top: 30px;">
					<span>邮箱/用户名</span>
					<div class="inputbox">
						<input type='text' name="uname">
						<i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
					</div>
					<label id='uname'></label>
				</div>
				<div class="item fore2">
					<span>密码</span>
					<div class="inputbox">
						<input type='password' name="upass">
						<i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
					</div>
					<label id='upass'></label>
				</div>
				<div class="item fore3">
					<span>&nbsp;</span>
					<div class="inputbox"  style="border:none">
						<input style='font-weight:bold;color:#E43F42;font-size:16px;'type='text' readonly>
					</div>
					<label id='errorinfo'></label>
				</div>
				<div class="item fore4">
<!-- 					<span>&nbsp;</span>
 -->					<div class="inputbox" style="border:none";>
						<input type='button' class="submit-button" value="登录">
					</div>
					<label id='tijiao'></label>
				</div>
				</form>
				<a style='margin-left:300px;color:purple;'href='{:U('Findpwd/index')}'>找回密码</a>
				<div class="item fore5">
					<span>合作网站</span>
					<div class="inputbox" style="border:none;">
							<em>QQ</em>
							<em>网易</em>
							<em>奇虎360</em>
							<em>开心</em>
							<em>豆掰</em>
							<em>搜狐</em>
					</div>
					<label id='collation'></label>
				</div>
			</div>
		</div>
		<!--------------------弹层效果---------------------->
		<!--------------------关注成功提醒------------------>
		<div class="careBox" style="display:none;">
			<div class='careInfo'>
				<div class='infotext'><h1></h1></div>
			</div>
		</div>
		<script type="text/javascript">
		$(function(){
			$('.spacific a').live('click',function(){
				$html = $(this).parent('.a-key').text() + $(this).html();
				$('#condition').css('display','block').append($html);
				
			})
		})
		</script>
		<!--------------------关注成功提醒------------------->
	</body>
</html>
