<!DOCTYPE  html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>找回密码</title>
	<link rel="stylesheet" type="text/css" href="__HOMECSS__/findpwd.css">
	<include file='Common/topper' />
	<div id='find-log'>
		<img src='__HOMEIMG__/logo-2013.png'>
	</div>
	<div id='findpwd'>
		<div class='find-title'>
			<h3>找回密码</h3>
		</div>
		<div class='mc'>
			<div class="step">
				<ul>
					<li class="one finish3" >填写账户名</li>
					<li class="two cur" >验证身份</li>
					<li class="three ">设置新密码</li>
					<li class="four">完成</li>
				</ul>
			</div>
			<div class="form">
				<div class="item step4">
					<span class='step4'>&nbsp;</span>
					<div class="f" style="border:none;margin-left:10px;">
						<label id='name-error'>
						验证邮件已发送，请您
						<a style='color:#005ea7;'href="{$emailpath}"><b>登录邮箱</b>
						</a>
						完成验证
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file='Common/footer' />
</body>
</html>