<!DOCTYPE  html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>找回密码</title>
	<link rel="stylesheet" type="text/css" href="__HOMECSS__/findpwd.css">
	<include file='Common/topper' />
	<div id='find-log'>
		<img src='__HOMEIMG__/logo-2013.png'>
	</div>
	<div id='findpwd'>
		<div class='find-title'>
			<h3>找回密码</h3>
		</div>
		<div class='mc'>
			<div class="step">
				<ul>
					<li class="one finish" >填写账户名</li>
					<li class="two finish" >验证身份</li>
					<li class="three finish3">设置新密码</li>
					<li class="four"style='color:#ff6600;background:#ffe6bc'>完成</li>
				</ul>
			</div>
			<div class="form">
				<div class="item step4">
					<span class='step4'>&nbsp;</span>
					<div class="f" style="border:none;margin-left:10px;">
						<input style='font-weight:bold;color:#009900;'type="text" name='uname' value="新密码设置成功!">
						<label id='name-error'>请牢记您新设置的密码</label>
						<label><a style='color:#005ea7;'href="{:U('Index/index')}">返回首页</a></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file='Common/footer' />
</body>
</html>