<!DOCTYPE  html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>找回密码</title>
	<link rel="stylesheet" type="text/css" href="__HOMECSS__/findpwd.css">
	<include file='Common/topper' />
	<div id='find-log'>
		<img src='__HOMEIMG__/logo-2013.png'>
	</div>
	<div id='findpwd'>
		<div class='find-title'>
			<h3>找回密码</h3>
		</div>
		<div class='mc'>
			<div class="step">
				<ul>
					<li class="one cur">填写账户名</li>
					<li class="two">验证身份</li>
					<li class="three">设置新密码</li>
					<li class="four">完成</li>
				</ul>
			</div>
			<div class="form">
				<div class="item">
					<span>账户名：</span>
					<div class="f">
						<input type="text" name='uname' placeholder='用户名/邮箱'>
						<label id='name-error'></label>
					</div>
				</div>
				<div class="item">
					<span>验证码: </span>
					<div class="f" style="width:100px;">
						<input type="text" name='code' style="width:100px;">
						<label id='code-error'></label>
					</div>
					<div class="getcode">
							<img src="__URL__/get_code" onclick="this.src='__URL__/get_code?id='+Math.random()+1">
					</div>
					<label style="line-height:30px;">点击图片更换验证码</label>
				</div>
				<div class="item">
					<span>&nbsp;</span>
					<div class="f" style="width:69px;border:none">
						<input class='b'type="button" value="下一步">
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file='Common/footer' />
	<script src='__HOMEJS__/findpwd/step1.js'></script>
</body>
</html>