html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0}
ol,ul{list-style:none}
:focus{outline:0}
a {color:#666;text-decoration: none;}
a:hover {color: #E4393C;text-decoration: underline;}
a img{border:0}
img{vertical-align:middle}
table{empty-cells:show}
body {font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;background: #fff;}