<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<title>调查</title>
		<link rel="stylesheet" type="text/css" href="__HOMECSS__/survey.css">
	</head>
	<body>
		<div class="w">
			<div class="top">
				<div class="log">
					<a href='{:U('Index/index')}'>
					<img src="__HOMEIMG__/jdlogo.png">
					</a>
				</div>
				<b>商品列表页用户调查结束</b>
				<div class="dog">
					<img src="__HOMEIMG__/jdog.png">
				</div>
			</div>
			<div class="welcome" style="background-color:#E1F0FA;margin-top:0px; padding-top:10px;">
				<div class="welcome-content">
					<span style='display:block'>尊敬的用户：</span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					感谢您对本网站的支持，我们将积极改进自己；如有其它问题欢迎你进行问卷调查
					</br>
					<span style="position:absolute;right:100px;top:200px;">
						<a href="{:U('Index/index')}">返回首页</a>
						<a href='{:U("List/index")}'>返回列表页</a>	
					</span>
				</div>
			</div>
			<div class="welcome">
				<img style='width:100%'src="__PUBLIC__/Uploads/errorImages/trim.jpg">
			</div>
		</div>
	</body>
</html>