 	<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <div id="mws-navigation">
                <ul>  
                    <li>
                        <a href="{:U('Home/index')}"><i class="icon-home"></i>显示</a>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(2,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="{:U('Admin/index')}"><i class="icon-users"></i>管理员系统</a>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(3,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                       <a href='{:U("Window/showWindow")}'><i class="icon-monitor"></i>橱窗信息管理</a>
                    </li>
                    <li>
                        <a href='{:U("Aedit/gEdit")}'><i class="icon-pencil"></i>管理员信息修改</a>
                    </li>

                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(4,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href='{:U("User/user")}'><i class="icon-user"></i>会员信息管理</a>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(5,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href='{:U("Comments/comments")}'><i class="icon-comments"></i>商品评论管理</a>
                    </li>
                   
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(6,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-shopping-cart"></i>订单管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Order/orderAll')}">订单列表</a></li>

                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(7,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-television"></i>广告管理</a>
                        <ul class="closed">
                            <li><a href="{:U('advance/advance')}">广告列表</a></li>
                            <li><a href="{:U('advance/advanceAdd')}">添加广告</a></li>
                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(8,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-bended-arrow-down"></i>友情链接</a>
                        <ul class="closed">
                            <li><a href="{:U('link/link')}">链接列表</a></li>
                            <li><a href="{:U('link/addLink')}">添加链接</a></li>
                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(9,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-cogs"></i> 分类管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Cate/index')}">浏览分类</a></li>
                            <li><a href="{:U('Cate/add')}">添加分类</a></li>
                        </ul>
                    </li>

                     <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(10,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-tools"></i> 商品管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Goods/index')}">浏览商品</a></li>
                            <li><a href="{:U('Goods/add')}">添加商品</a></li>
                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(11,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-clubs"></i> 品牌管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Brands/index')}">浏览品牌</a></li>
                            <li><a href="{:U('Brands/add')}">添加品牌</a></li>
                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(12,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-magic"></i> 尺寸管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Sizes/index')}">浏览尺寸</a></li>
                            <li><a href="{:U('Sizes/add')}">添加尺寸</a></li>
                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(13,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-feather"></i> 颜色配置</a>
                        <ul class="closed">
                            <li><a href="{:U('Colors/index')}">浏览颜色</a></li>
                            <li><a href="{:U('Colors/add')}">添加颜色</a></li>
                        </ul>
                    </li>
                    <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(14,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a href="#"><i class="icon-camera"></i> 多图管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Multipics/index')}">浏览</a></li>
                            
                        </ul>
                    </li>
                     <li style='display:<?php 
                                if($_SESSION['admin']['power']==1){
                                    echo 'block';
                                }else{
                                    if(in_array(15,$_SESSION['admin']['power'])){
                                        echo 'block';
                                    }else{
                                        echo 'none';
                                    }
                                }
                                ?>'>
                        <a id='15' href="#"><i class="icon-newspaper"></i>站内新闻</a>
                        <ul class="closed">
                            <li><a href="{:U('News/news')}">新闻展示</a></li>
                            <li><a href="{:U('News/addNews')}">添加新闻信息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-box-add"></i>站内信管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Message/messageAll')}">站内信息列表</a></li>
                            <li><a href="{:U('Message/addMessage')}">发送站内信息</a></li>
                        </ul>
                    </li>
					<li>
                        <a href="{:U('Survey/index')}"><i class="icon-question-sign"></i>问卷调查</a>
                    </li>
                </ul>
            </div>         
        </div>