<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

<title>MWS Admin - Table</title>

</head>

<body>


	<!-- Header -->
    <block name="include"><include file="Common/header" /></block>


    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- left -->
            <block name="include"><include file="Common/left_nav" /></block>
            
        </div>
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            
            	
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span><i class="icon-table"></i>基本信息</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <form class="mws-form" action="form_layouts.html">
                            <div class="mws-form-inline">
                                <div class="mws-form-row">
                                    <label class="mws-form-label">订单编号</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list[0].orderId}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">订购人</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list[0].uname}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">收货人</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list[0].receiver}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">联系电话</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list[0].tel}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">邮箱</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list[0].email}" />
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">订购时间</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="small" disabled value="{$list[0].orderTime|date='Y-m-d',###}" />
                                    </div>
                                </div>
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">订单状态</label>
                                    <div class="mws-form-item clearfix">
                                        <ul class="mws-form-list inline">
                                            <li><input type="radio" name="orderState" disabled value="0" {$list[0]['orderState'] ==0?'checked':''} /> <label>等待发货</label></li>
                                            <li><input type="radio" name="orderState" disabled value="1" {$list[0]['orderState'] ==1?'checked':''} /> <label>等待收货</label></li>
                                            <li><input type="radio" name="orderState" disabled value="2" {$list[0]['orderState'] ==2?'checked':''} /> <label>交易完成</label></li>
                                            <li><input type="radio" name="orderState" disabled value="3" {$list[0]['orderState'] ==3?'checked':''} /> <label>取消订单</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">收货地址</label>
                                    <div class="mws-form-item">
                                        <textarea rows="" cols="" class="large" disabled>{$list[0].address}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mws-button-row">
                                <a href="{:U('Order/orderAll')}"><input type="button" value="返回" class="btn btn-danger"></a>
                            </div>
                        </form>
                    </div>
                </div>

            	<div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span><i class="icon-table"></i>订单信息</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>商品图片</th>
                                    <th>商品名</th>
                                    <th>数量</th>
                                    <th>单价</th>
                                    <th>小计</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--循环输出数据-->
                                <foreach name="list" item="vo">
                                    <tr>
                                        <td>{$key+1}</td>
                                        <td>{$vo.simimg}</td>
                                        <td>{$vo.prodName}</td>
                                        <td>{$vo.a}</td>
                                        <td>{$vo.p}</td>
                                        <td>{$vo['a'] * $vo['p']}</td>
                                    </tr>
                                </foreach>
                                <tr>
                                    <td colspan="5" style="text-align:right">总计：</td>
                                    <td>
                                        ￥{$total[0][tsum]}
                                    </td>
                                </tr>                            
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Your Website 2012. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
    <script src="__ADMIN__/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
    <script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__ADMIN__/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>

    <!-- Core Script -->
    <script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__ADMIN__/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__ADMIN__/js/demo/demo.table.js"></script>

</body>
</html>
