<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

<title>MWS Admin - Table</title>

</head>

<body>


	<!-- Header -->
    <block name="include"><include file="Common/header" /></block>


    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- left -->
            <block name="include"><include file="Common/left_nav" /></block>
            
        </div>
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            

            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i>订单管理</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-datatable-fn mws-table">
                            <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th>订购人</th>
                                    <th>收货人</th>
                                    <th>订购时间</th>
                                    <th>订单状态</th>
                                    <th>订单详情</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--循环输出订单-->
                                <foreach name="list" item="vo">
                                <tr>
                                    <td>{$vo.orderId}</td>
                                    <td>{$vo.uname}</td>
                                    <td>{$vo.receiver}</td>
                                    <td>{$vo.orderTime|date='Y-m-d',###}</td>
                                    <td>
                                    <!--判断订单状态-->
                                        <switch name="vo.orderState">
                                            <case value="0"><a href="{:U('Order/orderUpdate',array('orderId'=>$vo['orderId'],'orderState'=>1))}"><button type="button" class="btn btn-danger">开始发货</button></a></case>
                                            <case value="1"><font color="red">等待收货</font></case>
                                            <case value="2"><font color="green">交易完成</font></case>
                                            <default /><font color="red">订单已取消</font></case>
                                        </switch>
                                    </td>
                                    <td><a href="{:U('Order/detail','orderId='.$vo['orderId'])}"><button type="button" class="btn btn-success btn-small">订单详情</button></a></td>
                                    <td>
                                        <if condition="$vo['orderState'] eq 0">
                                            <a href="{:U('Order/updateOrder','orderId='.$vo['orderId'])}"><button type="button" class="btn">修改</button></a>
                                        
                                             <a href="{:U('Order/orderUpdate',array('orderId'=>$vo['orderId'],'orderState'=>3))}"><button type="button" class="btn">取消订单</button></a>
                                        <elseif condition="$vo['orderState'] eq 3" />
                                            <font color="red">订单已取消，禁止修改</font>
                                        <elseif condition="$vo['orderState'] eq 2" />
                                            <font color="green">订单交易完成</font>
                                        <else />
                                            <font color="red">已发货，禁止修改</font>
                                        </if>
                                    </td>
                                </tr>
                                </foreach>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Your Website 2012. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
    <script src="__ADMIN__/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
    <script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__ADMIN__/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>

    <!-- Core Script -->
    <script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__ADMIN__/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__ADMIN__/js/demo/demo.table.js"></script>

</body>
</html>
