<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/plugins/colorpicker/colorpicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/custom-plugins/wizard/wizard.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__ADMIN__/css/themer.css" media="screen">

<title>MWS Admin - Dashboard</title>

</head>

<body>
    <!-- Themer End -->

	<!-- Header -->
	
    <include file="./Application/Admin/View/Common/header.html" />
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
        <include file="./Application/Admin/View/Common/left_nav.html" />
    	<!-- Necessary markup, do not remove -->
		
        
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            
            	<!-- Statistics Button Container -->
                
                <!-- Panels Start -->
                
                <div class="mws-panel grid_4">
                    <div class="mws-panel-header">
                        <span>修改分类</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <form class="mws-form" action="{:U('Cate/update_doit')}" method="post" id="category">					
							<div class="mws-form-inline">
								<div class="mws-form-row bordered">
	                                    <label class="mws-form-label">父级分类</label>
	                                    <div class="mws-form-item">
	                                        <select class="small" name="proPid" id="pid" disabled="disabled">
	                                            {$options}
	                                        </select>
	                                    </div>
	                            </div>
							</div>
                            <div class="mws-form-inline">
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">分类名称</label>
                                    <div class="mws-form-item">
                                        <input type="text" class="large" name="proName" value="{$val['proName']}" id="val">
                                        <input type="hidden" name="proTypeId" value="{$val['proTypeId']}">
                                    </div>
                                </div>
                            </div>
                            <div class="mws-button-row">
                                <input type="submit" value="提交" class="btn btn-danger">
                                <input type="reset" value="重置" class="btn ">
                            </div>
                        </form>
                    </div>      
                </div>
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Your Website 2012. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__ADMIN__/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__ADMIN__/js/libs/jquery.placeholder.min.js"></script>
    <script src="__ADMIN__/custom-plugins/fileinput.js"></script>

    <!-- jQuery-UI Dependent Scripts -->
    <script src="__ADMIN__/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__ADMIN__/jui/jquery-ui.custom.min.js"></script>
    <script src="__ADMIN__/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__ADMIN__/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="__ADMIN__/plugins/validate/jquery.validate-min.js"></script>

    <!-- Core Script -->
    <script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/js/core/mws.js"></script>


    <!-- Demo Scripts (remove if not needed) -->
    <script type="text/javascript">
        $(function(){
            var $val = $('#val').val();
            var $pid = $('#pid').val();
            $('#category').submit(function(){
                var $val2 = $('#val').val();
                var $pid2 = $('#pid').val();
                if($val2 == ""){
                    alert('分类不能为空');
                    return false;
                }
                if($val2 == $val && $pid == $pid2){
                    alert('没有改变什么呢');
                    return false;
                }
            })


        })
    </script>

</body>
</html>
