	<div class="form">
		    <div class="item">
		        <span class="label"><em>*</em>收货人：</span>
		        <div class="fl">
		            <input type="text" class="itxt" maxlength="20" id="nickName" name="receiver"/>
		            <div class="clr"></div>
		        </div>
		    </div>
		    <div class="item">
		        <span class="label"><em>*</em>联系电话：</span>
		        <div class="fl">
		            <input type="text" class="itxt" maxlength="20" id="nickName" name="tel"/>
		            <div class="clr"></div>
		        </div>
		    </div>
		    <div class="item">
		        <span class="label"><em>*</em>送货地址：</span>
		        <div class="fl">
		            <input type="text" class="itxt" maxlength="20" id="nickName" name="address"/>
		            <div class="clr"></div>
		        </div>
		    </div>
		    <div class="item">
		        <span class="label"><em>*</em>是否默认：</span>
		        <div class="fl">
		            <input type="radio" name="isDefault" class="jdradio" value="0">
		            <label class="mr10">是</label>
		            <input type="radio" name="isDefault" class="jdradio" value="1">
		            <label class="mr10">否</label>
		        </div>
		    </div>
		    <input type="hidden" name="userId" value="">
	</div>